
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
    
    padding-bottom:0;   
    
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #2b2e30;
  }




:root {
    --primary_yellow : #f5ea16; /* var(--primary_yellow) */
    --primary_dark : #212529;
}

/* body {
    background-color: #69b4ff;
    font-size: larger;
} */

.bg-dark-gray {
    background-color: #2b2e30 !important;
}

.logo-color {
    fill: #464646 !important;
}

.my-navbar {
    border-bottom : 3px solid var(--primary_yellow)  !important;
}


/* kleuren aanpassen van button op navbar */
.btn-outline-warning:active, .btn-outline-warning:hover {
    background-color: var(--primary_yellow) !important;
    color : var(--primary_dark) !important;
}

.btn-outline-warning {
    border-color: var(--primary_yellow) !important;
    color : var(--primary_yellow) !important;
}

/* .border-bottom {
    border-color : violet !important;
} */

/* 
.primary {
    display : flex;  
    flex-direction: row;  
    background-color: violet;
}

.logo {
    display : flex;
    margin-top: 2em;
    padding-top: 6em;
     height: 10%;
    width: auto; 
 } 

 .intro {
    display : flex;
    padding-left : 2em;
    color :#f1f1f1;
    margin-left: 3em;
    margin-top: 2em;
    padding-top: 2em;

}  */
