
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
    
    padding-bottom:0;   
    
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #2b2e30;
  }
  
  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}


:root {
    --primary_yellow : #f5ea16; /* var(--primary_yellow) */
    --primary_dark : #212529;
}

.text-decoration-none, .text-decoration-none:hover{
    color: inherit;
}

.bg-dark-gray {
    background-color: #2b2e30 !important;
}

.logo-color {
    fill: #464646 !important;
}

.my-navbar {
    border-bottom : 3px solid var(--primary_yellow)  !important;
}


.btn-outline-warning:active, .btn-outline-warning:hover {
    background-color: var(--primary_yellow) !important;
    color : var(--primary_dark) !important;
}

.btn-outline-warning {
    border-color: var(--primary_yellow) !important;
    color : var(--primary_yellow) !important;
}

